body {
  background: url("../images/forest_background.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-toggler {
  background-color: #fff;
  border: none;

}


.myBio {

 font-family: 'Montserrat', sans-serif;
 font-size: 14pt;
 line-height: 25px;

}

.descTechText {
  padding: 1em;
  font-size: 12pt;
  line-height: 20px;
}

.unBold {
  font-weight: bold;

}

#contact-form {

  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  line-height: 25px;

}

#myName {
  margin-right: 1em;

}

#navEmail {
  color: white;
  margin-right: 2em;
  font-size: 14pt
}

#navPhone {
  color: white;
  font-size: 14pt
}


/* MEDIA QUERIES */


@media screen and (max-width: 980px) {
    #myPic {
       
    


    }


  
  }


@media screen and (max-width: 768px) {
  #myName {
    width: 6em !important;
  }

}
