body {
  background: url("../images/Foggy_Forest_Mountains_Tree.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-toggler {
  background-color: #fff;
  border: none;

}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  #myName {
    width: 6em !important;
  }
}
